version: '3.8'

services:

    note-god:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: note-god
        ports:
            - "3000:3000"
        env_file:
            - .env
        depends_on:
            - workers
            - socket-server
            - qdrant
            - redis
        command: sh -c "npx prisma migrate deploy && npm run dev"

    workers:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: note-god-workers
        env_file:
            - .env
        depends_on:
            - redis
            - qdrant
        command: sh -c "npm run dev:workers"

    socket-server:
        build:
            context: .
            dockerfile: socket-server/Dockerfile
        container_name: socket-server
        ports:
            - "4000:4000"
        env_file:
            - ./socket-server/.env
        environment:
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - REDIS_PASSWORD=${REDIS_PASSWORD}

        depends_on:
            - redis

    redis:
        image: "redis:alpine"
        container_name: redis
        ports: 
            - "6379:6379"
        command: redis-server --requirepass ${REDIS_PASSWORD}

    qdrant:
        image: qdrant/qdrant:latest
        container_name: qdrant
        ports:
            - "6333:6333"


        
        
